// Breakpoints (usando Mobile-First: min-width)
$breakpoint-mobile: 575px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

// Largura máxima do conteúdo no desktop
$container-max-width: 1200px;
